{% extends "layout.html" %}
{% block body %}
<div class="card card-body">

    <form action="/update_revista/{{revista.0}}" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" value="{{revista.1}}">
        <input type="text" name="autor" placeholder="Autor" value="{{revista.2}}">
        <input type="text" name="edicion" placeholder="Edicion" value="{{revista.3}}">
        <button type="submit" class="btn btn-danger btn-delete">
            Editar
        </button>
    </form>
</div>

{% endblock %}